* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
  color: darkblue;
}
.continer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
button {
  border: 3px solid red;
  background-color: black;
  color: #ffff;
  padding: 20px;
  font-size: 1.5rem;
}
.frf {
  background-color: rgb(226, 34, 21);
  color: azure;
  font-size: 19px;
}
span {
  color: red;
}
